@page "/"

<PageTitle>Advent of Solutions</PageTitle>

<h1>Hello and welcome friends!</h1>

Here are my solutions to the Advent of Code challenges for each year.

I am excited to share with you, but be warned that reading will likely be a spoiler for you if you have not completed the challenge yourself.

:3